@import url("https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i");

body {
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif;
}

header {
  position: relative;
  height: 85vh;
  background: #0b345d;
  background-image: linear-gradient(
    155deg,
    #138b89 0%,
    #18496a 50%,
    #002f62 100%
  );
}
.contact-us-button {
  display: flex;
  width: 200px;
  height: 60px;
  background-color: #138b89;
  border-radius: 4px;
  align-items: center;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
}
.contact-us-button span {
  text-align: center;
  margin: auto;
  width: 100%;
  font-weight: 500;
  font-size: 18px;
  color: #fff;
}

header div {
  color: white;
}

.background {
  position: absolute;
  bottom: -2px;
  width: 100%;
  height: auto;
}

.banner-text {
  margin-bottom: 10px;
  font-size: 48px;
  text-align: left;
  line-height: 1.6;
  font-weight: 600;
  letter-spacing: 0.05em;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #fff;
}

.banner-caption {
  font-size: 25px;
  line-height: 1.6;
  margin-top: 20px;
  margin-bottom: 30px;
  letter-spacing: 0.05em;
  display: block;
}

.banner-text-wrap {
  margin-top: 8rem;
  position: absolute;
  margin-left: 10rem;
}

.text-wrap span {
  font-size: 22px;
}

.down-arrow-wrap {
  display: flex;
  justify-content: center;
  margin-top: 5px;
}

.logo-text {
  font-size: 20px;
  font-weight: 500;
}

h1 {
  font-size: 40px;
  background: -webkit-linear-gradient(#002f62, #138b89);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.about-us-wrap {
  margin: auto;
  display: flex;
  width: 90%;
}

.about-us-left {
  width: 45%;
  margin: 5rem auto 0 auto;
}
.about-us-right {
  width: 45%;
  margin: auto;
}

.about-us-content p {
  line-height: 1.7;
  color: #595959;
  font-family: sans-serif;
  letter-spacing: 0.7px;
  width: 95%;
}

.about-us-content h1 {
  text-align: center;
}

.about-img {
  height: 400px;
  width: 500px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("./images/about.png");
  border: 3px solid #002f62;
  border-radius: 5px;
}

.tugak-info-wrap {
  margin: auto;
  display: flex;
  width: 90%;
}

.tugak-info-left {
  width: 45%;
  margin: auto;
}

.tugak-info-right {
  width: 45%;
  margin: auto;
}

.tab {
  height: 120px;
  width: 120px;
  background-color: #002f62;
  border-radius: 50%;
  margin: auto;
  display: flex;
  justify-content: center;
}
.tugak-info-container {
  margin-top: 3rem;
  padding-top: 3rem;
}

.mission {
  margin: auto;
}

.vision {
  margin: auto;
}

.our-vission h3 {
  text-align: center;
}

.our-mission h3 {
  text-align: center;
}

.our-vission p {
  color: #595959;
  width: 49%;
  margin: auto;
  font-family: sans-serif;
  letter-spacing: 0.7px;
  line-height: 1.6;
  font-size: 14px;
  text-align: center;
}

.our-mission p {
  color: #595959;
  width: 49%;
  margin: auto;
  font-family: sans-serif;
  letter-spacing: 0.7px;
  line-height: 1.6;
  font-size: 14px;
  text-align: center;
}

.list-left {
  width: 60%;
  background-color: #002f62;
  padding: 30px 0px;
  justify-content: center;
  align-items: center;
  margin: auto;
  height: 100%;
  box-shadow: 12px 12px 12px 0 #bebebf;
  border-radius: 4px;
}

.list-left-img {
  width: 45%;
  margin: auto;

  height: 600px;
}

.img-inner {
  height: 250px;
  width: 250px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("./images/core.png");
  margin-right: 25px;
}

.list-container {
  padding-top: 4rem;
  width: 90%;
  margin: 5rem auto 0 auto;
}
/* 
.list-left {
  width: 45%;
  margin: auto;
  justify-content: center;
} */

.list-right {
  width: 45%;
  margin: auto;
  justify-content: center;
}

.list-right li {
  margin: 10px auto;
  color: #595959;
  font-family: sans-serif;
  letter-spacing: 0.7px;
  line-height: 1.6;
  font-size: 14px;
}

.list-left li {
  margin: 20px auto;
  color: #ffffff;
  font-family: sans-serif;
  letter-spacing: 0.7px;
  line-height: 1.6;
  font-size: 15px;
}
.detail-list {
  list-style: none;
  padding: 1px 3rem 0 3rem;
}

.detail-list li:before {
  content: "✓";
  margin-right: 12px;
}
.list-wrap h3 {
  font-size: 30px;
  color: #ffffff;
  border-bottom: 2px solid white;
  text-align: center;
  padding-bottom: 1rem;
}
.list-wrap {
  display: flex;
  margin: auto;
}
.location-container {
  margin-top: 6rem;
  padding-top: 3rem;
  padding-bottom: 4rem;
}
.location-wrap {
  border: 2px solid #002f62;
  width: 80%;
  margin: auto;
  border-radius: 5px;
  padding: 2rem 2rem;
  box-shadow: 6px 6px 12px 0 #bfbfc0;
  display: flex;
  justify-content: center;
}
.location-wrap h3 {
  font-size: 30px;
  color: #302f2f;
  margin-left: 3rem;
}

.form-wrap .contact-title {
  margin-left: unset;
}

.location-wrap li {
  font-size: 18px;
  color: #707070;
  font-family: sans-serif;
  margin-bottom: 10px;
  font-weight: 400;
}

.location-wrap ul {
  list-style: none;
}

.location-wrap span {
  font-size: 18px;
  color: #595959;
  font-family: sans-serif;
  margin-left: 3rem;
  display: block;
  line-height: 1.5;
}
.wrapped {
  width: 100%;
  margin: auto;
}

.location-left {
  width: 45%;
  margin: auto;
}

.location-right {
  width: 45%;
  margin: 0 auto;
}
.form-wrap {
  margin-left: 4rem;
}
.contact-label {
  display: block;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  margin-bottom: 10px;
}

.contact-input {
  padding: 10px 10px 10px 10px;
  width: 80%;
  border: 2px solid #eaf2fd;
  border-radius: 4px;
}
.contact-button {
  margin-top: 3rem;
  padding: 15px 15px;
  color: #fff;
  background-color: #186777;
  border: 1px solid #186777;
  border-radius: 3px;
  font-weight: 600;
  font-size: 15px;
  text-align: center;
  display: block;
  width: 85%;
}
.banner-image {
  height: 390px;
  width: 500px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("./images/core.png");
  /* margin-right: 25px; */
  margin-top: 1rem;
}

.divider {
  margin-bottom: 30px;
  height: 10px;
  width: 100px;
  background-color: #fff;
  border-radius: 4px;
  display: block;
}

.banner-image-wrapper {
  display: flex;
  justify-content: flex-end;
}

.list-left {
  background: #002f62;
  animation: color-me-in 10s infinite alternate;
}

@keyframes color-me-in {
  0% {
    background: #138585;
  }

  25% {
    background: #186777;
  }

  50% {
    background: #18506d;
  }

  100% {
    background: #043764;
  }
}

.footer-section {
  margin-top: 3rem;
}

.footer-section footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
  background: #002f62;
  animation: color-me-in 10s infinite alternate;
  height: 200px;
  width: 100%;
}

.footer-content {
  display: flex;
}

.footer-overlay {
  height: 200px;
  width: 40%;
  background-position: top left;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("./images/overlays.png");
}
.footer-overlay2 {
  height: 200px;
  width: 40%;
  background-position: bottom right;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("./images/overlays.png");
}

.footer-text {
  display: block;
  width: 100%;
  margin: auto;
  text-align: center;
  justify-content: center;
}

.footer-text h4 {
  color: #ffffff;
  font-size: 20px;
}

.footer-text span {
  color: #ffffff;
  display: block;
  font-size: 16px;
}

.facebook {
  margin: auto;
  display: block;
  height: 20px;
  width: 20px;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("./images/facebook.png");
}

.email {
  margin: auto;
  display: block;
  height: 20px;
  width: 20px;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("./images/mail.png");
  margin-left: 30px;
}
.socials {
  display: inline-flex;
  margin-top: 1rem;
}

.footer-text .rights {
  font-size: 11px;
  display: block;
  margin-top: 1rem;
}

@media only screen and (max-width: 900px) {
  .banner-image {
    height: 200px;
    margin-top: 4rem;
  }

  .banner-text-wrap {
    position: unset;
    margin-left: 2rem;
    margin-top: 5rem;
  }
  .banner-text {
    font-size: 22px;
  }

  .banner-caption {
    font-size: 16px;
  }
  .contact-us-button {
    width: 90%;
  }

  .down-arrow {
    display: none;
  }
  .about-us-wrap {
    display: block;
  }

  .about-us-left {
    width: 100%;
    margin: 30px 0 0 0;
  }
  .about-img {
    height: 303px;
    width: 329px;
    background-position: bottom;
  }
  .about-us-right {
    width: 95%;
    margin: auto;
  }

  .about-us-content p {
    line-height: 1.4;
    color: #595959;
    font-family: sans-serif;
    letter-spacing: 0.7px;
    width: 93%;
  }
  .about-us-content h1 {
    margin-top: 30px;
    margin-bottom: 20px;
  }

  .about-us-content h1 {
    text-align: left;
  }

  .tugak-info-container {
    margin-top: 1rem;
    padding-top: 1rem;
  }

  .tab {
    height: 80px;
    width: 80px;
  }
  .mission {
    width: 30px;
  }

  .vision {
    width: 35px;
    height: 35px;
    margin: auto;
  }

  .tugak-info-wrap {
    display: block;
  }

  .tugak-info-left {
    width: 100%;
    margin-bottom: 2.5rem;
  }

  .our-mission p {
    color: #595959;
    width: 100%;
  }
  .tugak-info-right {
    width: 100%;
  }

  .our-vission p {
    color: #595959;
    width: 100%;
  }

  .list-container {
    padding-top: 2rem;
    width: 90%;
    margin: 2rem auto 0 auto;
  }
  .list-wrap {
    display: block;
  }
  .list-left-img {
    width: 100%;
    margin: 0 auto 2rem auto;
    height: 350px;
  }

  .list-left {
    width: 100%;
    padding: 20px 0 20px 0;
  }

  .list-wrap h3 {
    font-size: 22px;
  }

  .list-left li {
    margin: 7px auto;
    line-height: 1.5;
    font-size: 12px;
  }
  .detail-list {
    list-style: none;
    padding: 1px 1.5rem 0 1.5rem;
  }
  .topper {
    margin-bottom: 7rem;
  }

  .location-wrap {
    display: block;
  }
  .location-left {
    width: 100%;
  }

  .location-wrap h3 {
    margin-left: unset;
    font-size: 22px;
    margin-bottom: 10px;
  }
  .location-wrap ul {
    padding: 0;
  }

  .location-wrap li {
    font-size: 14px;
  }
  .location-wrap span {
    margin-left: unset;
    font-size: 14px;
  }

  .location-right {
    width: 100%;
    margin: 0 auto;
  }
  .form-wrap {
    margin-left: unset;
  }
  .location-container {
    padding-bottom: 2rem;
  }
  .footer-text span {
    color: #ffffff;
    display: block;
    font-size: 16px;
    line-height: 1.7;
  }
  .contact-button {
    margin-top: 2rem;
    padding: 12px 15px;
    width: 88%;
  }
}
